.footer__logo-container {
    padding-bottom: 36px;
}
.logo__link {
	display: inline-flex;
	align-items: center;
	text-align: left;
	font-size: 24px;
	color: #323232;
	text-transform: uppercase;
    text-decoration: none;
    
    }
.logo__img {
	display: none;
	margin-right: 18px;
}
.logo__link--selected {
	color: $purple;
}


.footer {
	& {
		padding-top: 40px;
		padding-bottom: 50px;
		font-family: $mons;
	}

	&__content {
		display: flex;
		flex-direction: column;
	}
	
		&__logo {
			width: 79%;
			margin-bottom: 36px;
			margin-left: 20px;
			}
		&__nav {
			margin-bottom: 36px;
			margin-left: 20px;
			}
		&__title {
			font-size: 16px;
			color: #323232;
			margin-bottom: 23px;
			}
		&-nav__item {
			padding-top: 10px;
			}
		&-nav__link {
			text-decoration: none;
			font-size: 15px;
			color: $purple;
			}
		&__nav__link:hover {
			border-bottom: 1px solid $purple;
			}

		&__contact {
			margin-bottom: 39px;
			margin-left: 20px;
			}
		&__contact-phone {
			font-weight: 900;
			font-size: 30px;
			padding-bottom: 15px;
			color: #31384d;
			}
		&__contact-worktime {
			font-size: 12px;
			text-transform: uppercase;
			color: #9ea5ac;
			padding-bottom: 38px;
		}
		&__contact-city {
			font-size: 16px;
			padding-bottom: 20px;
			}
		&__contact-adress {
			line-height: 23px;
			font-size: 14px;
			color: #9ea5ac;
			}
		&__info {
			text-align: left;
			width: 77%;
			margin-left: 20px;
			}
		&__info-title {
			font-size: 16px;
			padding-bottom: 24px;
			}
		&-text {
			font-size: 14px;
			line-height: 23px;
			color: #9ea5ac;
			}
		&-text--uppercase {
			text-transform: uppercase;
			padding-bottom: 38px;
			}
}
@media (min-width: 401px) {
.logo {
    padding-bottom: 24px;
}
.logo__img {
	display: inline-block;
}


}

@media (min-width: 481px) {
.footer {
	&__content {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
		&__logo {
			width: 50%;
			margin-bottom: 36px;
			margin-left: 0px;
		}
	
		&__nav {
			width: 45%;
			margin-bottom: 36px;
		}
	
		&__contact {
			width: 50%;
			margin-left: 0px;
		}
	
		&__info {
			width: 45%;
		}

}
}
 
@media (min-width: 993px) {

.footer {
	& {
		padding-top: 61px;
		padding-bottom: 91px;
	}
		&__logo {
			width: 25%;
			margin-bottom: 36px;
		}
		&__nav {
			width: 11%;
			margin-bottom: 36px;
			margin-left: 0px;
		}
		&__contact {
			width: 25%;
			margin-bottom: 39px;
		}
		&__info {
			width: 28%;
			margin-right: 0px;
			margin-left: 0px;
		}

}
}
