@import "variables";

body {
  min-width: 320px;
  font-family: $mons;
}

::-webkit-scrollbar{
	width: 13px;
	background: $headerColor;
}

::-webkit-scrollbar-thumb{
  border-radius: 15px;
  width: 13px;
	background: $purple;
}
