$mons: 'Montserrat',
sans-serif;
$lato: 'Lato',
sans-serif;
$textDescr: #848e97;
$purple: #8d81ac;
$headerColor: #27262a;
$navColor: #333333;
$navItemBorderColor: #3b3b3b;
$hoverColor: #fff;
$editorTitleColor: #635c73;
$reviewColor: #fff;
$underlineColor: #645766;
$underlineOpColor: #c7c7c7;
$reviewDescrOpColor: #a291a5;
$pricingBtn: #766b79;
$pricingBtnHover: #cfcbd0;
$pricingBackgroundColor: rgba(29%, 23%, 31%, 0.06);
$pricingItemBackgroundColor: rgba(94, 81, 96, 0.6);
$pricingTitleBackgroundColor: rgba(41%, 36%, 42%, 0.6);
$pricingActiveTitle: rgba(24%, 18%, 24%, 0.6);
$pricingActiveItem: rgba(25%, 20%, 27%, 0.5);
$bgcolor: #f4f4f4;